:root {
    --aquamarijn: #A6D5C2;
    --aquamarijn-m: #6CB193;
    --aquamarijn-a5: #D2EAE0;
    --dolomiet: #E9CEA4;
    --dolomiet-m: #D4A669;
    --dolomiet-a5: #F4E6D1;
    --gember: #EC6C84;
    --gember-m: #DA2D44;
    --gember-a5: #F5B5C1;
    --hemel: #7CA8DA;
    --hemel-m: #3C6EBA;
    --hemel-a5: #BDD3EC;
    --india: #DB595B;
    --india-m: #BC1F20;
    --india-a5: #EDACAD;
    --magnolia: #ECADC4;
    --magnolia-m: #DA7596;
    --magnolia-a5: #F5D6E1;
    --marine: #004F7F;
    --marine-m: #00183F;
    --marine-a5: #7FA7BF;
    --middernacht: #302C66;
    --middernacht-m: #090728;
    --middernacht-a5: #9795B2;
    --mosterd: #F3CF69;
    --mosterd-m: #E7A82B;
    --mosterd-a5: #F9E7B4;
    --noordzee: #97AD9B;
    --noordzee-m: #59755E;
    --noordzee-a5: #CBD6CD;
    --olijf: #91B97F;
    --olijf-m: #52863F;
    --olijf-a5: #C8DCBF;
    --switch: #A6D797;
    --switch-m: #6CB559;
    --switch-a5: #D2EBCB;
    --taling: #587077;
    --taling-m: #1E3137;
    --taling-a5: #ABB7BB;
    --zalm: #F4A487;
    --zalm-m: #E96947;
    --zalm-a5: #F9D1C3;

    --basalt-1: #333333;
    --basalt-2: #4D4D4D;
    --basalt-3: #666666;
    --basalt-4: #808080;
    --basalt-5: #999999;
    --basalt-6: #B2B2B2;
    --basalt-7: #CCCCCC;
    --basalt-8: #E5E5E5;
    --basalt-9: #F2F2F2;
    --basalt-10: #F6F6F6;
    --basalt-11: #F9F9F9;
    --wit: #FFFFFF;
}
